-function prettyDate(dateString){
	-var date = new Date(dateString);
	-var d = date.getDate();
	-var monthNames = [ "Янв", "Феб", "Мар", "Апр", "Мая", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ];
	-var m = monthNames[date.getMonth()];
	-var y = date.getFullYear();
	-return d+' '+m+' '+y;
-}

-function prettyTime(dateString){
	-var date = new Date(dateString);
	-var h = date.getHours();
	-var m = date.getMinutes();
	-return h+':'+m;
-}

// div.messages__date 19 июня
each val, key in message
	div(class=userId === message[key]['user_id'] ? 'message__row' : 'message__row message__row_response')
		div(class=userId === message[key]['user_id'] ? 'message' : 'message message_response')
			div.message__text #{message[key]['content']}
			div.message__time.message__time_read #{prettyDate(message[key]['time'])} #{prettyTime(message[key]['time'])}