body.layout_100.layout_flex-column
	div !{modal}
	div.profile.layout_100
		header.profile__header
			nav.nav
				span !{back}
				span !{exit}
		div.profile__inner
			div.profile__top
				div.profile__avatar
				p.profile__name #{name}
		div.profile__card
			div.profile__links
				div.profile__link
					span !{edit}
				div.profile__link
					span !{password}
			div.user-info !{userform} 
			div.user-info !{passwordform}
	

