div
	div !{inputEmail}
	div !{inputLogin}
	div !{inputName}
	div !{inputLastName}
	div !{inputChatName}
	div !{inputPhone}
	div !{inputPassword}
	div !{inputOldPassword}
	div !{inputNewPassword}
	div !{inputRePassword}
	div !{inputReNewPassword}
	div !{button}

