div
	div.form-field !{email}
		div.form-field__error
	div.form-field !{login}
		div.form-field__error
	div.form-field !{first_name}
		div.form-field__error
	div.form-field !{last_name}
		div.form-field__error
	div.form-field !{username}
		div.form-field__error
	div.form-field !{phone}
		div.form-field__error
	div.form-field !{inputPassword}
	div.form-field !{inputOldPassword}
	div.form-field !{inputNewPassword}
	div.form-field !{inputRePassword}
	div.form-field !{inputReNewPassword}
	div !{button}

