- var typeAttr = type
- var nameAttr = name
- var placeholderAttr = label
- var valueAttr = value
- var readonlyAttr = readonly
	input(
		type=nameAttr
		name=nameAttr
		placeholder=placeholderAttr
		value=valueAttr
		readonly=readonlyAttr
	)